<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Signup</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Customer Signup</h1>
    <form action="/register_customer" method="POST">
        <label for="name">Full Name</label>
        <input type="text" name="name" required />
        <br><br>
        <label for="email">Email ID(Username)</label>
        <input type="email" name="email" required />
        <br><br>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <br><br>
        <label for="address">Address</label>
        <input type="text" name="address" required />
        <br><br>
        <label for="pin_code">Pin Code</label>
        <input type="text" name="pin_code" required />
        <br><br>
        <input type="submit" value="Sign Up" />
    </form>
    <a href="/login">Login</a>
    <h3 style="color: red;">{{message}}</h3>
</body>
</html>

