<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <a href="/customer_dashboard/{{id}}">Home</a>
        <a href="/customer_dashboard/search/{{id}}">Search</a>
        <a href="/login">Logout</a>
    </nav>
    <div class="container">
    <h1>Customer Dashboard</h1>
    <h2>Looking for a service?</h2>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        {% for category in categories %}
        <button style="margin: 10px; padding: 15px; border-radius: 10px;" onclick="window.location.href='/customer_dashboard/{{id}}/{{ category[0]|lower }}'">{{ category[0] }}</button>
        {% endfor %}
    </div>

    <div>
        <h2>Your Service History</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Service Name</th>
                <th>Professional Name</th>
                <th>Contact</th>
                <th>Status</th>
            </tr>
            {% for service in service_requests %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.service_name }}</td>
                <td>{{ service.professional_name }}</td>
                <td>{{ service.phone }}</td>
                <td>{% if service.status == 'assigned' %}
                    Assigned
                    <button onclick="window.location.href='/rate_service/{{ service.id }}'">Close it?</button>
                    {% else %}
                        {{service.status}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>


