<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Service</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
    <h1>Edit Service</h1>
    <form action="/admin_dashboard/edit_service/{{ service.id }}" method="POST">
        <label for="name">Service Name</label>
        <input type="text" name="name" id="name" value="{{ service.name }}" required/>
        <br><br>
        <label for="base_price">Base Price</label>
        <input type="number" name="base_price" id="base_price" value="{{ service.base_price }}" required/>
        <br><br>
        <label for="time_required">Time Required</label>
        <input type="number" name="time_required" id="time_required" value="{{ service.time_required }}" required/>
        <br><br>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10">{{ service.description }}</textarea>
        <br><br>
        <input type="submit" value="Update Service" />
        <input type="button" value="Cancel" onclick="window.location.href='/admin_dashboard'"/>
    </form>
</div>
</body>
</html>

