<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body style="display: flex; align-items: center; justify-content: center;">
    <div class="container">
    <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
        Welcome to household services app!
        <br>
        <center><a href="/login">Get Started</a></center>
    </div>
</div>
</body>
</html>